.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.description {
  font-size: 21px;
  font-weight: 900;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
